/* Resets default styles */
html, body, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form, label, input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Applying box-sizing border-box to all elements */
* {
  box-sizing: border-box;
}

/* Sets default font family, size, and color */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333333;
}

/* Applying a maximum width to the page content */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

  /* header styles */
  header { 
    background-color: #4837bab1;
    color: #3e4144;
    padding: 10px;
    text-decoration: none;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    margin-left: 20px;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #272828;
    text-decoration: none;
    font-weight:lighter;
    font-size: 18px;
    border-bottom: 2px solid transparent;
  }

  header nav a.active {
    border-bottom-color: #fff;
    padding-bottom: 3px;
  }
  /* main styles */
  main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  main h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  main a {
    color: #333;
  }
  
  main section {
    margin-bottom: 20px;
  }
  
  main #about {
    flex: 1;
    margin-right: 20px;
    text-align: center;
  }
  
  main #about img {
    border-radius: 50%;
    max-width: 200px;
  }
  
  main #about-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  main #about-links ul {
    margin-right: 40px;
    list-style: none;
  }
  
  main #about-links li {
    margin-bottom: 10px;
  }
  
  main #projects li {
    margin-bottom: 20px;
  }
  
  main #support ul {
    margin-left: 20px;
  }

.my-avatar {
  display:flex;
  display: block;
  margin: 20px auto;
  max-width: 100%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.left-container {
  display: felx;
  flex: 1 0 auto;
  display: block;
  float: left;
  width: 60%;
}

.right-container {
    float: right;
    overflow-x: hidden;
    width: 35%;
}
  /* footer styles */
  footer {
    background-color: #ffffffb1;
    color: #323232;
    text-align: center;
    padding: 10px;
  }
  
  .footer-container {
    max-width: 800px;
    margin: 0 auto;
  }
  